<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass}">Change</button>


<hr>
<!-- For debugging pipeline -->
<pre>
  {{ pizza | json }}
</pre>

<p>{{ temperature | number: '1.0-0' }}</p>
<p>{{ currentDate | date: 'fullDate' }}</p>
<p>{{ cost | currency: 'JPY' }}</p>
<h3>{{ name | titlecase }}</h3>



<input (keyup)="changeImage($event)" [value]="imageUrl">

<p>Make sure this is working {{ name.toUpperCase() }}</p>

<!-- <p>Make sure this is working {{ getName() }}</p> -->

<p> {{ 12 + 15  }}</p>

<!-- <img [src]="imageUrl" alt=""> -->
<app-post [img]="imageUrl" (imgSelected)="logImg($event)">
  <p>Some Caption</p>
</app-post>
<!-- <app-post [postImageUrl]="imageUrl"></app-post> -->








