


<!-- ngIf -->
<p *ngIf="blueClass">Button is blue</p>
<!-- <ng-template [ngIf]="blueClass">
  <p>Button is blue.</p>
</ng-template> -->


<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass}"
[ngStyle]="{ 'font-size.px': fontSize }"
>Change</button>


<hr>
<!-- For debugging pipeline -->
<pre>
  {{ pizza | json }}
</pre>

<p>{{ temperature | number: '1.0-0' }}</p>
<p>{{ currentDate | date: 'fullDate' }}</p>
<p>{{ cost | currency: 'JPY' }}</p>
<h3>{{ name | titlecase }}</h3>



<input (keyup)="changeImage($event)" [value]="imageUrl">

<p>Make sure this is working {{ name.toUpperCase() }}</p>

<!-- <p>Make sure this is working {{ getName() }}</p> -->

<p> {{ 12 + 15  }}</p>

<!-- <img [src]="imageUrl" alt=""> -->

<app-post *ngFor="let image of images; let i = index" [img]="image" (imgSelected)="logImg($event)">
  <p>{{ i }} Some Caption</p>
</app-post>

<!-- <app-post [img]="imageUrl" (imgSelected)="logImg($event)">
  <p>Some Caption</p>
</app-post> -->
<!-- <app-post [postImageUrl]="imageUrl"></app-post> -->








